@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Satoshi', sans-serif;
    color: #1b2127;
    background: #fefefe;
    scroll-behavior: smooth;
  }
}

body {
  @apply overflow-x-hidden font-renade;
}

.container {
  @apply mx-auto max-w-[1400px];
}

#root {
  @apply relative;
}

.section-gallery {
  display: grid;
}

.gallery {
  &__container {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-auto-rows: 14rem;

    @media only screen and (max-width: 1100px) {
      grid-template-columns: repeat(auto-fit, minmax(calc(24 * 9px), 1fr));
      grid-auto-rows: calc(24 * 9px);
    }

    @media only screen and (max-width: 900px) {
      grid-template-columns: repeat(auto-fit, minmax(calc(24 * 8px), 1fr));
      grid-auto-rows: calc(24 * 8px);
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(calc(24 * 5.5px), 1fr));
      grid-auto-rows: calc(24 * 5.5px);
    }

    @media only screen and (max-width: 315px) {
      grid-template-columns: repeat(auto-fit, minmax(calc(24 * 4.5px), 1fr));
      grid-auto-rows: calc(24 * 4.5px);
    }
  }

  &__image {
    background-size: cover;
    background-position: center center;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #ccc;
  }
}

.image {
  &--tall {
    grid-row: span 2 / auto;
  }

  &--wide {
    grid-column: span 2 / auto;
  }
}

.countdown-bg {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url('https://res.cloudinary.com/kikks/image/upload/ar_9:16,c_fill/c_scale,w_768/dpr_auto/v1698944428/keren-weds-israel/qdgutondvxckxgycyrbg.jpg')
      center center no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url('https://res.cloudinary.com/kikks/image/upload/ar_4:3,c_fill/c_scale,w_1024/dpr_auto/v1698944428/keren-weds-israel/qdgutondvxckxgycyrbg.jpg')
        center center fixed no-repeat;
    background-size: cover;
  }

  @media (min-width: 1024px) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url('https://res.cloudinary.com/kikks/image/upload/ar_16:9,c_fill/c_scale,w_2048/dpr_auto/v1698944428/keren-weds-israel/qdgutondvxckxgycyrbg.jpg')
        center center fixed no-repeat;
    background-size: cover;
  }
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #fef7e6 50%, #e5fbfb 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: absolute;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
